.main_article {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../img/hero-2.png);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}
.artcle_div {
  max-width: 790px;
  width: 100%;
  padding-top: 96px;
  margin: 0 auto;
}
h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

/* search section */
.seaction_search {
  padding: 65px 57px;
}
.search_div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop {
  color: var(--brown-dark);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.fa-square-chevron-down {
  color: var(--brown-dark);
  background: #402101;
}
form {
  margin-top: 25px;
  height: 56px;
  border: 2px solid #402101;
  border-radius: 10px;
}
input {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: none;
  color: rgba(64, 33, 1, 0.52);
  outline: none;
  border: none;
}

.search_btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: #402101;
  border-radius: 0px 10px 10px 0px;
  width: 160px;
  height: 56px;
}

/* all category */

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 45px;
  margin-bottom: 94px;
}

h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  color: var(--brown-dark);
  text-align: left;
}
.sort {
  width: 98px;
  height: 29px;
  background: #ffffff;
  border: 2px solid #b53b1b;
  border-radius: 5px;
}
.sort_sp {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--brown-dark);
}
.fa-arrow-up-arrow-down {
  color: var(--brown-dark);
}

/* cards */

.product {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--brown-light);
}
p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--brown-dark);
}
.fa-cart-plus {
  background: #402101;
}

/* all_cards */

.all_cards {
  grid-template-columns: 1fr;
}
.mob_none {
  display: none;
}
.img {
  margin-bottom: 24px;
}
.card p {
  margin-top: 28px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 1025px) {
  .seaction_search {
    padding: 160px 0;
  }
  .search_div {
    flex-direction: row;
    justify-content: center;
    gap: 65px;
  }
  form {
    overflow: hidden;
    margin-top: 0;
    width: 690px;
    height: 56px;
    border: 2px solid #402101;
    display: flex;
    justify-content: space-between;
  }
  /* all category */
  .category {
    margin-top: 61px;
    padding: 0 50px;
  }
  h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
  }
  .sort {
    width: 118px;
  }

  /* all cards */

  .all_cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
  }
  .mob_none {
    display: grid;
  }
}
