.main_article {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../img/hero-3.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.artcle_div {
  max-width: 500px;
  width: calc(100% - 40px);
  margin-left: 20px;
  height: 400px;
  background: rgba(64, 33, 1, 0.73);
  border: 1px solid #ffffff;
  box-shadow: -1px -1px 4px #ffffff;
  border-radius: 10px;
  position: relative;
}
form {
  position: absolute;
  width: 440px;
  height: 264px;
  left: 30px;
  top: 112px;
}
h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  position: absolute;
  left: 30px;
  top: 24px;
}
input {
  background: none;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
}

#fullname {
  top: 0;
  margin-right: 65px;
  margin-bottom: 45px;
  padding: 12px 0 11px 8px;
}
#mail {
  top: 0;
  padding: 12px 0 11px 8px;
}
#sms {
  padding: 8px 372px 71px 8px;
  width: 440px;
  left: 0px;
  top: 76px;
  margin-bottom: 36px;
}

button {
  background: #d5906e;
  border-radius: 10px;
  padding: 19px 42px;
}

/* contact */

.contact_div {
  background-color: rgba(213, 144, 110, 0.302);
  width: 366px;
  height: 615px;
  position: relative;
  margin: 64px auto;
}
h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #402101;
  margin-bottom: 24px;
}
h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #b53b1b;
  margin-bottom: 7px;
}
a {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  color: #623932;
  margin-bottom: 32px;
}

iframe {
  position: absolute;
  width: 366px;
  height: 320px;
  left: 0px;
  top: 232px;
}

@media screen and (min-width: 1025px) {
  .contact_div {
    width: 1190px;
    height: 408px;
    margin: 160px auto;
  }
  h3 {
    margin-bottom: 40px;
  }

  iframe {
    width: 815px;
    height: 320px;
    left: 375px;
    top: 88px;
  }
  .artcle_div {
    margin-left: 240px;
  }
}

