html {
	--brown: #d5906e;
	--brown-dark: #402101;
	--brown-light: #b53b1b;
}

/* 
@media screen and (min-width: 769px) {
	
}
@media screen and (min-width: 1025px) {
	
}
@media screen and (min-width: 1400px) {
	
}
 */
