@font-face {
	font-family: 'nino';
	src: url('../fonts/bpg_nino_mtavruli_normal.otf');
}
@font-face {
	font-family: 'noto';
	src: url('../fonts/noto.ttf');
}
html {
	font-family: 'noto';
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	padding: 0 48px;
}

header {
	padding-top: 38px;
	margin-bottom: 28px;
}

.logo {
	font-size: 0;
	display: inline-block;
}
nav a {
	/* font-family: 'BPG Nino Mtavruli'; */
	/* font-style: italic; */
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: #2615e8;
}
nav a.active {
	color: #ee4036;
}

.contact_main {
	padding-top: 80px;
}
.contact_info {
	width: 100%;
	max-width: 406px;
	margin: 0 auto;
	padding: 9px 6px;
	border: 4px solid #f31010;
	text-align: center;
}

.contact_info h1 {
	font-weight: 400;
	font-size: 32px;
	color: #2615e8;
	margin-bottom: 12px;
}
.contact_info div {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	color: black;
}

.contact_info span {
	color: #646468;
}
address {
	font-style: normal;
	display: inline;
}

main {
	padding: 0 3px;
}

.main h1 {
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;

	color: #29f408;
}

.burger {
	position: fixed;
	top: 20px;
	right: 20px;
	display: none;
	z-index: 4;
	cursor: pointer;
}

.burger-menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 3;
	padding: 20px;
	padding-top: 70px;
	width: 200px;
	background: rgb(189, 188, 188);
	color: black;
	height: 100vh;
	transform: translateX(100%);
	transition: all 0.3s ease-in-out;
}

.burger-menu.shown {
	transform: translateX(0%);
}

.burger svg {
	width: 24px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	background-color: #cbcbcb;
	border-radius: 20px;
}

.header {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header nav ul {
	display: flex;
	align-items: center;
	gap: 15px;
}
@media screen and (max-width: 768px) {
	.burger,
	.burger-menu {
		display: flex;
	}
	.header nav {
		display: none;
	}
}
.main {
	margin-bottom: 20px;
}
.products_main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.product_item {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.product_item_img {
	width: 100%;
	background-color: white;
	height: 200px;
	border-radius: 12px;
	overflow: hidden;
	margin-bottom: 10px;
}
.product_item_img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.link_and_price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}
.product_item_info h3 {
	margin-bottom: 5px;
}

/* hero slider */

.hero_slider .swiper-slide {
	width: 100%;
	height: 400px;
}

.hero_slider .swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* acordion */
.popular_questions {
	margin-bottom: 20px;
}
.popular_questions h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 20px;
}

.questions {
	display: grid;
	width: 100%;
	grid-template-columns: 100%;
	overflow: hidden;
	border-radius: 20px;
}

.question {
	cursor: pointer;
	background-color: #333;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	transition: background-color 0.3s ease-in-out;
}
.question:hover {
	background-color: #444;
}
.question h3 {
	padding: 20px;
}
.question .answer {
	--height: auto;
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;

	background-color: #444;
}
.question .answer p {
	padding: 20px;
}
.question.active .answer {
	height: var(--height);
	opacity: 1;
}

.popup {
	position: fixed;
	bottom: 10px;
	left: 50%;
	width: calc(100% - 40px);
	max-width: 500px;
	background-color: #333;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	padding: 20px;

	opacity: 0;
	transform: translateX(-50%) translateY(150%);
	transition: all 0.3s ease-in-out;
}
.popup.shown {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
}

.cookie-popup h3 {
	margin-bottom: 20px;
	text-align: center;
}
.cookie-popup p {
	margin-bottom: 20px;
}

.cookie-popup button {
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.cookie-popup .btns {
	text-align: center;
}
#agree {
	background-color: #29f408;
	color: black;
}
#disagree {
	background-color: #f31010;
}
